*{
    margin: 0;
    padding: 0;
}
.filters{
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    text-align: right;
}

.filters button{
    margin-top: 11px;
    margin-bottom: 11px;
    margin-right: 30px;
    font-size: 18px;
    background-color: #FF5A5F;
    color: white;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
}

.filters button:hover{
    opacity: 0.9;
}

.locations{
    text-align: left;
    height: 100%;
    width: 25%;
    border-right: solid 1px #DDDDDD;
    margin-left: 30px;
    float: left;
}

.amenities{
    text-align: left;
    height: 100%;
    width: 25%;
    margin-left: 30px;
    float: left;
}

h3{
    font-weight: 600;
    margin-top: 17px;
}

h4{
    font-weight: 400;
    font-size: 14px;
}