*{
    padding: 0;
    margin: 0;
}
.filters{
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    text-align: right;
}

.filters button{
    margin-top: 11px;
    margin-bottom: 11px;
    margin-right: 30px;
    font-size: 18px;
    background-color: #FF5A5F;
    color: white;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
}

.filters button:hover{
    opacity: 0.9;
}

.locations{
    text-align: left;
    height: 100%;
    width: 25%;
    border-right: solid 1px #DDDDDD;
    float: left;
}

.amenities{
    text-align: left;
    align-content: flex-start;
    height: 100%;
    width: 25%;
    float: left;
}

.amenities h3, .locations h3{
    font-weight: 600;
    margin-top: 17px;
    padding-left: 30px;
}

.amenities h4, .locations h4{
    font-weight: 400;
    font-size: 14px;
    padding-left: 30px;
    
}

.popover{
    visibility: hidden;
    position: relative;
    background-color: #FAFAFA;
    border: solid #DDDDDD 1px;
    border-radius: 4px;
    margin-top: 7%;
    padding-bottom: 10%;
    z-index: 1;
}

.popover_list{
    padding-left: 10%;
}
li{
    padding-top: 5px;
    list-style-type: none;
    padding-bottom: 5px;
}
ul{
    padding-left: 15px;
}
.locations:hover >.popover{
    visibility: visible;
}
.amenities:hover > .popover{
    visibility: visible;
}